#links ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: var(--spacing-md);

  justify-content: center;
}

#linkinbio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: var(--spacing-md) var(--spacing-md) 0;
  gap: var(--spacing-lg);

  text-align: center;
  background-color: var(--color-bg-alt);
}

#linkinbio-header img {
  width: 8rem;
  height: auto;
}
